{% extends "base.html" %}

{% block content %}

<h1>Lista wpisów</h1>

{% for post in all_posts %}
<div class="post mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="d-inline-block">{{ post.title }}</h2>
        {% if session.get('logged_in') %}
        <a href="{{ url_for('edit_entry', entry_id=post.id) }}" class="text-muted" title="Edytuj wpis">
            <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H4V10a.5.5 0 0 0-.5-.5H3V10z"/>
            </svg>
        </a>
        <form method="POST" action="{{ url_for('delete_entry', entry_id=post.id) }}" class="d-inline-block">
            <button class="btn btn-danger btn-sm" type="submit">Usuń</button>
        </form>
        {% endif %}
    </div>
    <p>{{ post.body[:150] }}...</p>
    <a href="{{ url_for('index', entry_id=post.id) }}" class="btn btn-primary">Czytaj więcej</a>
</div>
{% endfor %}

{% endblock %}
